<footer [class]="footer">
  <section class="flex items-center justify-between">
    <p class="text-medium-text text-sm">
      &#64; 2021, Made with ❤️ by <span class="text-primary font-bold">Creative Tim</span> &
      <span class="text-primary font-bold">Simmmple</span> for a better web
    </p>
    <nav>
      <ul class="flex grow items-center gap-11">
        <li>
          <a href="#" class="text-medium-text hover:text-primary text-sm duration-150"
            >Creative Tim</a
          >
        </li>
        <li>
          <a href="#" class="text-medium-text hover:text-primary text-sm duration-150">Simmmple</a>
        </li>
        <li>
          <a href="#" class="text-medium-text hover:text-primary text-sm duration-150">Blog</a>
        </li>
        <li>
          <a href="#" class="text-medium-text hover:text-primary text-sm duration-150">License</a>
        </li>
      </ul>
    </nav>
  </section>
</footer>
