<div #chart class="rounded-xl bg-gradient-to-br from-[#313860] to-[#151928] p-4">
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!"
    [xaxis]="chartOptions.xaxis!"
    [yaxis]="chartOptions.yaxis!"
    [legend]="chartOptions.legend!"
    [fill]="chartOptions.fill!"
    [tooltip]="chartOptions.tooltip!"
    [grid]="chartOptions.grid!"
    [colors]="chartOptions.colors!"
  ></apx-chart>
</div>
