<div class="wrapper">
  <div class="mx-auto flex h-full w-5xl flex-col justify-between px-4 pb-6">
    <app-header />
    <section>
      <div class="mb-9">
        <h2 class="text-primary mb-2 text-3xl font-bold">Welcome Back</h2>
        <p class="font-bold text-gray-400">Enter your email and password to sign in</p>
      </div>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="w-[350px]">
        <div class="mb-9 flex w-full flex-col gap-6">
          <!-- Email Field -->
          <div class="flex flex-col gap-1">
            <label for="email" class="text-dark-text font-medium" pSize="large">Email</label>
            <input
              pInputText
              type="email"
              id="email"
              placeholder="demo@mail.com"
              formControlName="email"
              [class.ng-invalid]="isInvalid('email')"
              class="focus:border-primary h-12.5 w-full rounded-2xl border border-gray-200 bg-white px-5 placeholder-gray-400 focus:outline-none"
            />

            @if (isInvalid('email')) {
              @if (signInForm.get('email')?.errors?.['required']) {
                <p-message severity="error" size="small" variant="simple">
                  Email is required.
                </p-message>
              }
              @if (signInForm.get('email')?.errors?.['email']) {
                <p-message severity="error" size="small" variant="simple">
                  Please enter a valid email.
                </p-message>
              }
            }
          </div>

          <!-- Password Field -->
          <div class="flex flex-col gap-1">
            <label for="password" class="text-dark-text text-sm font-medium">Password</label>
            <input
              pInputText
              type="password"
              id="password"
              placeholder="123456"
              formControlName="password"
              [class.ng-invalid]="isInvalid('password')"
              class="focus:border-primary h-12.5 w-full rounded-2xl border border-gray-200 bg-white px-5 placeholder-gray-400 focus:outline-none"
            />

            @if (isInvalid('password')) {
              <p-message severity="error" size="small" variant="simple">
                Password is required.
              </p-message>
            }
          </div>

          <!-- Remember Me Checkbox -->
          <div class="flex items-center gap-2.5">
            <p-toggleswitch formControlName="checked" class="h-6" />
            <span class="text-dark-text inline-block text-sm">Remember me </span>
          </div>
        </div>

        <div>
          <!-- Sign In Button -->
          <button
            type="submit"
            class="bg-primary mb-5.5 grid h-11 w-full place-items-center rounded-xl font-medium text-white duration-150 hover:bg-teal-500"
          >
            <span class="text-sm font-bold text-white">SIGN IN</span>
          </button>

          <!-- Sign Up Link -->
          <article class="text-center">
            <span class="text-sm text-gray-400">Don't have an account?</span>
            <a
              [routerLink]="['/auth/sign-up']"
              routerLinkActive="router-link-active"
              class="font-semibold text-teal-400 hover:text-teal-500"
            >
              Sign up</a
            >
          </article>
        </div>
      </form>
    </section>
    <app-footer />
  </div>
</div>
