:host {
  @apply block h-full min-h-screen overflow-auto;
}
.q-card {
  min-height: 170px;
  background-image: url('/images/png/bgCard.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
