<aside class="h-screen w-72 overflow-auto px-5.5 pt-7">
  <a [routerLink]="['/']" routerLinkActive="router-link-active" class="relative inline-block pb-6">
    <app-logo />
    <span
      class="absolute bottom-0 left-1/2 h-[1px] w-[126%] translate-x-[-50%] bg-gradient-to-r from-transparent via-gray-300 to-transparent"
    ></span>
  </a>
  <nav class="mb-5">
    <ul class="pt-5.5 pb-6">
      <li>
        <a
          [routerLink]="['/dashboard']"
          routerLinkActive="router-link-active"
          class="group flex items-center gap-3 rounded-xl px-4 py-3 duration-150 hover:bg-white hover:shadow"
        >
          <app-home-svg
            class="group-hover:bg-primary h-8 w-8 rounded-[12px] bg-white duration-150 hover:bg-white"
            width="18"
            height="18"
            fillColor="currentColor"
            className="text-primary group-hover:text-white"
          ></app-home-svg
          ><span class="text-medium-text group-hover:text-dark-text text-sm font-bold"
            >Dashboard</span
          >
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/tables']"
          routerLinkActive="router-link-active"
          class="group flex items-center gap-3 rounded-xl px-4 py-3 duration-150 hover:bg-white hover:shadow"
        >
          <app-tables-svg
            class="group-hover:bg-primary h-8 w-8 rounded-[12px] bg-white duration-150 hover:bg-white"
            width="18"
            height="18"
            barColor="currentColor"
            className="text-primary group-hover:text-white"
          ></app-tables-svg>
          <span class="text-medium-text group-hover:text-dark-text text-sm font-bold">Tables</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/billing']"
          routerLinkActive="router-link-active"
          class="group flex items-center gap-3 rounded-xl px-4 py-3 duration-150 hover:bg-white hover:shadow"
        >
          <app-billing-svg
            class="group-hover:bg-primary h-8 w-8 rounded-[12px] bg-white duration-150 hover:bg-white"
            width="19"
            height="18"
            color="currentColor"
            className="text-primary group-hover:text-white"
          ></app-billing-svg>
          <span class="text-medium-text group-hover:text-dark-text text-sm font-bold">Billing</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          class="group flex items-center gap-3 rounded-xl px-4 py-3 duration-150 hover:bg-white hover:shadow"
        >
          <app-rtl-svg
            class="group-hover:bg-primary h-8 w-8 rounded-[12px] bg-white duration-150 hover:bg-white"
            width="19"
            height="18"
            color="currentColor"
            className="text-primary group-hover:text-white"
          ></app-rtl-svg>
          <span class="text-medium-text group-hover:text-dark-text text-sm font-bold">RTL</span>
        </a>
      </li>
    </ul>
    <h3 class="text-dark-text px-4 text-sm font-bold uppercase">ACCOUNT PAGES</h3>
    <ul class="py-6">
      <li>
        <a
          href="#"
          class="group flex items-center gap-3 rounded-xl px-4 py-3 duration-150 hover:bg-white hover:shadow"
        >
          <app-person-svg
            class="group-hover:bg-primary h-8 w-8 rounded-[12px] bg-white duration-150 hover:bg-white"
            width="19"
            height="18"
            color="currentColor"
            className="text-primary group-hover:text-white"
          ></app-person-svg>
          <span class="text-medium-text group-hover:text-dark-text text-sm font-bold">Profile</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="group flex items-center gap-3 rounded-xl px-4 py-3 duration-150 hover:bg-white hover:shadow"
        >
          <app-doc-svg
            class="group-hover:bg-primary h-8 w-8 rounded-[12px] bg-white duration-150 hover:bg-white"
            width="19"
            height="20"
            color="currentColor"
            className="text-primary group-hover:text-white"
          ></app-doc-svg>
          <span class="text-medium-text group-hover:text-dark-text text-sm font-bold">Sign In</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="group flex items-center gap-3 rounded-xl px-4 py-3 duration-150 hover:bg-white hover:shadow"
        >
          <app-raketa-svg
            class="group-hover:bg-primary h-8 w-8 rounded-[12px] bg-white duration-150 hover:bg-white"
            width="19"
            height="18"
            color="currentColor"
            className="text-primary group-hover:text-white"
          ></app-raketa-svg>
          <span class="text-medium-text group-hover:text-dark-text text-sm font-bold">Raketa</span>
        </a>
      </li>
    </ul>
  </nav>

  <article class="bg-primary q-card w-[230px] rounded-2xl p-4">
    <div class="mb-5.5 inline-grid h-9 w-9 place-items-center rounded-xl bg-white">
      <img src="/images/svg/question-icon.svg" alt="" />
    </div>
    <div class="font-bold text-white">Need help?</div>
    <div class="mb-2 text-sm text-white">Please check our docs</div>
    <a
      href="#"
      class="text-dark-text hover:text-primary grid h-9 w-full place-content-center rounded-xl bg-white text-center text-sm leading-0 font-bold duration-150"
      >DOCUMENTATION</a
    >
  </article>
</aside>
