<section class="mb-6 grid grid-cols-4 gap-6">
  @for (card of cards; track card) {
    <app-info-card
      [infoTitle]="'Today’s Money'"
      [infoPrice]="'$53,000'"
      [infoRange]="'+55'"
      [imgPath]="'/images/svg/wallet.svg'"
    />
  }
</section>
<section class="mb-6 grid grid-cols-12 gap-6">
  <div class="col-span-7 grid">
    <app-build-card
      [buildSubTitle]="'Built by developers'"
      [buildTitle]="'Purity UI Dashboard'"
      [buildDescription]="
        'From colors, cards, typography to complex elements,
  you will find the full documentation.'
      "
      [imgPathBuild]="'/images/png/card-bg.png'"
    />
  </div>
  <div class="col-span-5 grid">
    <app-bg-image-card
      [imgCardTitle]="'Work with the Rockets'"
      [imgCardDescription]="
        'Wealth creation is an evolutionarily recent positive-sum game.
  It is all about who take the opportunity first.'
      "
    />
  </div>
</section>
<section class="mb-6 grid grid-cols-12 gap-6">
  <div class="col-span-5 grid">
    <article class="flex flex-col gap-6 rounded-2xl bg-white p-4 shadow-sm">
      <app-stats-chart-card></app-stats-chart-card>
      <div class="px-1 pb-3">
        <h2 class="text-dark-text mb-1 text-lg font-semibold">Active Users</h2>
        <div class="text-medium-text mb-9 text-sm">
          <span class="text-primary font-semibold">(+23)</span> than last week
        </div>
        <ul class="flex justify-between">
          @for (card of infoCards; track $index) {
            <app-info-sm-card
              [smCardIcon]="card.icon"
              [smCardTitle]="card.title"
              [smCardInfo]="card.info"
              [value]="card.value"
            />
          }
        </ul>
      </div>
    </article>
  </div>
  <div class="col-span-7 grid">
    <app-spline-area-chart />
  </div>
</section>
<section class="grid grid-cols-12 gap-6">
  <article class="col-span-8 grid">
    <app-projects-table></app-projects-table>
  </article>
  <div class="col-span-4 grid">
    <article class="rounded-2xl bg-white px-5 py-7">
      <hgroup class="mb-7">
        <h3 class="text-dark-text mb-0.5 text-lg font-bold">Orders overview</h3>
        <p class="text-medium-text text-sm">
          <span class="text-primary font-semibold">+30% </span>this month
        </p>
      </hgroup>
      @for (order of orders; track $index) {
        <app-orders-overview [orderTitle]="order.title" [orderSubtitle]="order.subtitle">
          @if (order.iconType === 'bell') {
            <app-bell-svg
              icon
              [width]="order.iconWidth || 19"
              [height]="order.iconHeight || 19"
              [className]="order.iconClass || 'text-primary'"
            />
          } @else if (order.iconType === 'billing') {
            <app-billing-svg
              icon
              [height]="order.iconHeight || 18"
              [width]="order.iconWidth || 19"
              [className]="order.iconClass || 'text-amber-400'"
            />
          } @else {
            <img
              icon
              class="h-5 w-5 object-contain"
              [src]="getIconPath(order.iconType)"
              [alt]="order.iconType + ' icon'"
            />
          }
        </app-orders-overview>
      }
    </article>
  </div>
</section>
