<main class="flex h-full">
  <app-sidebar />

  <section class="flex h-screen w-full grow flex-col">
    <div class="h-full overflow-auto">
      <app-top-header class="mb-1" />

      <div class="px-6">
        <router-outlet></router-outlet>
      </div>

      <app-footer [footer]="'footer'" />
    </div>
  </section>
</main>
<p-drawer header="Right Drawer" [(visible)]="drawerVisible" position="right">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</p-drawer>
