html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: unset;
}
body {
  font-family: sans-serif;
}
button,
a {
  cursor: pointer;
}
.container {
  max-width: 500px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
}
.my-30 {
  margin: 30px 0;
}
.form {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}
.input {
  border: 1px solid blue;
  border-radius: 4px;
  padding: 5px;
  font-size: 20px;
  transition: outline 200ms ease-in-out;
  &:focus {
    outline: none;
    border-color: dodgerblue;
  }
}
.add {
  font-size: 30px;
  padding: 0 8px;
  border-radius: 4px;
  border: 0.5px solid blue;
  background-color: transparent;

  &:focus-visible,
  &:focus {
    border-color: transparent;
    outline: 0.5px solid dodgerblue;
    color: dodgerblue;
  }
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 20px;
  button {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 2px;
    border-radius: 3px;
    transition: border 150ms ease;
    &:hover {
      border-color: red;
    }
  }
}
.list {
  border-bottom: 1px solid dodgerblue;
  padding-bottom: 4px;
}
.checked {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 2px;
  border-radius: 3px;
  transition: border 150ms ease;
  &:hover {
    border-color: green;
  }
}
.actions {
  display: flex;
  gap: 6px;
  font-size: 20px;
}
