<section class="mx-auto w-3/6">
  <form class="flex justify-center gap-3">
    <p-iconField class="w-full">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" [formControl]="todo" pInputText placeholder="Enter..." class="w-full" />
    </p-iconField>
    <p-button styleClass="px-4" (onClick)="handleSave()">+</p-button>
  </form>
  <ul>
    @for (user of users(); track user.id) {
      <li class="mt-3 flex items-center justify-between border-b border-b-blue-400 pb-1">
        <span>{{ user.name }}</span>
        <div class="flex gap-1">
          <p-button
            icon="pi pi-pencil"
            severity="success"
            [rounded]="true"
            (onClick)="editBnt(user.id)"
          />
          <p-button
            icon="pi pi-times"
            severity="danger"
            [rounded]="true"
            (onClick)="deleteBtn(user.id)"
          />
        </div>
      </li>
    } @empty {
      <li class="py-10 text-center">No data</li>
    }
  </ul>
</section>
