<section class="mx-auto w-3/6">
  <form class="flex w-full gap-2">
    <p-iconField class="w-full">
      <p-inputIcon styleClass="pi pi-search" />
      <input
        type="text"
        pInputText
        [formControl]="username"
        placeholder="Enter..."
        class="w-full"
      />
    </p-iconField>
    <p-button class="flex" (onClick)="add()"><i class="pi pi-plus"></i></p-button>
  </form>

  <div class="my-8">
    @if (users().length > 0) {
      <p-table [value]="users()" stripedRows>
        <ng-template #header>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Action</th>
          </tr>
        </ng-template>
        <ng-template #body let-user>
          <tr>
            <td>{{ user.id ?? '-' }}</td>
            <td>{{ user.name ?? '---' }}</td>
            <td>{{ user.email ?? '---' }}</td>
            <td>
              <div class="flex justify-center gap-2">
                <p-button
                  (onClick)="edit(user.id)"
                  icon="pi pi-pencil"
                  severity="info"
                  [rounded]="true"
                />
                <p-button
                  (onClick)="delete(user.id)"
                  icon="pi pi-trash"
                  severity="danger"
                  [rounded]="true"
                />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    } @else {
      <div class="min-h-52 rounded-lg border border-slate-200 p-4 text-center font-medium">
        No data
      </div>
    }
  </div>
</section>
