/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@plugin "tailwindcss-primeui";

/*==================================================================*/
/*==================== CUSTOM THEMES ===============================*/
/*==================================================================*/

@theme {
  --color-primary: rgba(79, 209, 197, 1);
  --color-dark-text: rgba(45, 55, 72, 1);
  --color-medium-text: rgba(160, 174, 192, 1);
  --color-text-gray: rgba(113, 128, 150, 1);
  --color-light-text: rgba(203, 213, 224, 1);
  --shadow-sm: 0px 3.6px 5.5px 0px rgba(0, 0, 0, 0.02);
}

/*==================================================================*/
/*==================== BASE STYLES =================================*/
/*==================================================================*/
@layer base {
  /* TYPE BUTTTON BASE CURSOR STYLE*/
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
@layer utilities {
  .border-b-gradient-gray::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(
      to left,
      rgba(224, 225, 226, 0),
      rgba(224, 225, 226, 0.16),
      rgb(224, 225, 226)
    );
  }
}

@layer base {
  :root {
    --visa-gradient: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
  }
}

@layer components {
  .visa-active {
    background: var(--visa-gradient);
    @apply text-white shadow-lg;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Helvetica, sans-serif;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
}
.p-breadcrumb {
  background: transparent;
  border: none;
  padding: 0;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}
