<div class="h-full min-h-[calc(100vh-170px)] pt-2.5">
  <div class="mb-6 grid grid-cols-12 gap-6">
    <section class="col-span-8 grid">
      <div class="mb-6 grid grid-cols-2 gap-6">
        <article
          class="visa-active flex h-60.5 flex-col justify-between rounded-2xl bg-[url('/images/png/BackgroundCard1.png')] bg-cover bg-no-repeat p-7"
        >
          <div class="flex items-center justify-between">
            <span class="h-9 text-xl font-bold text-white">Purity UI</span>
            @if (activeCard === 'visa' || (visa && !master.length === null)) {
              <img class="h-9 w-14 object-contain" src="/images/svg/visa.svg" alt="Visa" />
            }
            @if (activeCard === 'master' || (master && !visa.length === null)) {
              <img
                class="h-9 w-14 object-contain"
                src="/images/svg/master-card.svg"
                alt="MasterCard"
              />
            }
          </div>
          <div class="flex flex-col gap-3">
            <div class="text-3xl font-semibold text-white">
              {{ activeCard === 'visa' ? visa : master }}
            </div>
            <div class="flex gap-8">
              <div>
                <div class="text-medium-text text-xs uppercase">VALID THRU</div>
                <div class="text-sm font-bold text-white">05/24</div>
              </div>
              <div>
                <div class="text-medium-text text-xs uppercase">CVV</div>
                <div class="text-sm font-bold text-white">09X</div>
              </div>
            </div>
          </div>
        </article>
        <div class="flex gap-6">
          @for (card of payCards; track card) {
            <article
              class="h-full min-h-60.5 w-60.5 flex-1 rounded-2xl bg-white p-6 text-center shadow-sm"
            >
              <div
                class="{{
                  card.iconBg
                }} mb-5.5 inline-grid h-16 w-16 place-items-center rounded-xl shadow-sm"
              >
                <img [src]="card.icon" alt="" />
              </div>

              <div class="text-dark-text text-lg">{{ card.title }}</div>

              <div
                class="text-medium-text relative mb-3 pb-4 text-sm after:absolute after:right-0 after:bottom-0 after:left-[15%] after:h-[1px] after:w-8/12 after:[background:linear-gradient(90deg,rgba(224,225,226,0)_0%,#E0E1E2_49.52%,rgba(224,225,226,0.15625)_99.04%)]"
              >
                {{ card.subtitle }}
              </div>

              <div class="text-dark-text text-lg">{{ card.amount }}</div>
            </article>
          }
        </div>
      </div>
      <div class="flex flex-col gap-6 rounded-2xl bg-white p-6 shadow-sm">
        <div class="flex items-center justify-between">
          <h3 class="text-dark-text font-bold capitalize">Payment Method</h3>
          <button
            type="button"
            class="visa-active h-9 rounded-xl px-5.5 text-sm leading-0 text-white uppercase transition-colors duration-200 hover:opacity-90"
          >
            ADD A NEW CARD
          </button>
        </div>
        <section class="flex items-center gap-6">
          <div
            class="border-medium-text focus-within:border-primary flex h-16 w-full items-center gap-2 rounded-2xl border p-4 duration-200"
            (focusin)="onFocus('master')"
            (focusout)="onBlur()"
          >
            <img src="/images/svg/master-card.svg" alt="MasterCard" />
            <p-inputmask
              class="w-full flex-1"
              styleClass="border-none w-full text-medium-text placeholder:text-light-text text-2xl"
              mask="9999-9999-9999-XXXX"
              [(ngModel)]="master"
              placeholder="____  ____  ____  ____"
            />
            <button
              class="hover:bg-primary/35 hover:text-dark-text grid h-8 w-8 place-items-center rounded-xl duration-150"
            >
              <i class="pi pi-pencil"></i>
            </button>
          </div>
          <div
            class="border-medium-text focus-within:border-primary flex h-16 w-full items-center gap-2 rounded-2xl border p-4 duration-200"
            (focusin)="onFocus('visa')"
            (focusout)="onBlur()"
          >
            <img src="/images/svg/visa.svg" alt="Visa" />
            <p-inputmask
              class="w-full flex-1"
              styleClass="border-none w-full text-medium-text placeholder:text-light-text text-2xl"
              mask="9999-9999-9999-XXXX"
              [(ngModel)]="visa"
              placeholder="____  ____  ____  ____"
            />
            <button
              class="hover:bg-primary/35 hover:text-dark-text grid h-8 w-8 place-items-center rounded-xl duration-150"
            >
              <i class="pi pi-pencil"></i>
            </button>
          </div>
        </section>
      </div>
    </section>
    <div class="col-span-4 grid">
      <section class="rounded-2xl bg-white p-6 shadow-sm">
        <div class="mb-7 flex items-center justify-between">
          <h3 class="text-dark-text text-lg font-bold">Invoices</h3>
          <button
            type="button"
            class="border-primary hover:text-primary inline-flex h-9 items-center justify-center rounded-xl border px-8 font-semibold uppercase shadow-sm duration-150"
          >
            <span class="leading-none"> VIEW ALL</span>
          </button>
        </div>
        <ul class="flex flex-col gap-6">
          @for (invoice of invoices; track invoice.id) {
            <li class="flex justify-between">
              <div>
                <div class="text-dark-text text-sm font-bold">{{ invoice.date }}</div>
                <div class="text-medium-text text-xs font-bold">{{ invoice.id }}</div>
              </div>
              <div class="inline-flex items-center gap-4">
                <div>{{ invoice.amount }}</div>
                <p-button
                  label="PDF"
                  icon="pi pi-file-pdf"
                  variant="text"
                  (onClick)="downloadPdf()"
                ></p-button>
              </div>
            </li>
          }
        </ul>
      </section>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-7 grid">
      <section class="rounded-2xl bg-white p-6 shadow-sm">
        <div class="mb-6 flex items-center justify-between">
          <h3 class="text-dark-text text-lg font-bold">Billing Information</h3>
          <p-button label="Add Billing" icon="pi pi-plus" (onClick)="onAdd()"></p-button>
        </div>
        @for (bill of billings; track bill.id) {
          <div class="mb-6 flex justify-between rounded-xl bg-gray-50 p-6">
            <div>
              <h4 class="text-dark-text font-bold">{{ bill.name }}</h4>
              <ul>
                <li class="flex items-center gap-2">
                  <span class="text-medium-text text-sm">Company Name:</span>
                  <span class="text-dark-text text-sm font-bold">{{ bill.companyName }}</span>
                </li>
                <li class="flex items-center gap-2">
                  <span class="text-medium-text text-sm">Email:</span>
                  <span class="text-dark-text text-sm font-bold">{{ bill.email }}</span>
                </li>
                <li class="flex items-center gap-2">
                  <span class="text-medium-text text-sm">VAT Number:</span>
                  <span class="text-dark-text text-sm font-bold">{{ bill.vatNumber }}</span>
                </li>
              </ul>
            </div>
            <div class="flex gap-2">
              <p-button
                icon="pi pi-pencil"
                label="EDIT"
                styleClass="p-button-text"
                (onClick)="onEdit(bill.id)"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                label="DELETE"
                styleClass="p-button-danger p-button-text"
                (onClick)="onDelete(bill.id)"
              ></p-button>
            </div>
          </div>
        } @empty {
          <p class="text-center text-gray-500">Ma'lumotlar topilmadi.</p>
        }
      </section>
      <p-confirmDialog />
      <p-toast />
    </div>
    <section class="col-span-5 grid">
      <div class="w-full rounded-2xl bg-white p-6 shadow-sm">
        <!-- Header -->
        <div class="mb-4.5 flex flex-col items-start justify-between md:flex-row md:items-center">
          <h3 class="text-dark-text text-lg font-bold">Your Transactions</h3>
          <div class="flex items-center gap-2">
            <i class="pi pi-calendar text-medium-text text-lg"></i>
            <div class="text-medium-text text-sm font-bold">23 - 30 March 2020</div>
          </div>
        </div>

        <!-- Transactions List -->
        @for (status of transactionStatuses; track status) {
          <div class="mb-8">
            <h4 class="text-medium-text mb-5 text-sm font-semibold">{{ status.toUpperCase() }}</h4>
            @for (transaction of getTransactionsByStatus(status); track transaction.company) {
              <div class="mb-6 flex items-center justify-between">
                <div class="flex items-center gap-4">
                  <div
                    class="flex h-10 w-10 items-center justify-center rounded-full"
                    [ngClass]="{
                      '!border !border-red-500 text-red-500': transaction.type === 'debit',
                      'border border-green-500 text-green-500': transaction.type === 'credit',
                    }"
                  >
                    <i
                      class="pi text-sm"
                      [ngClass]="{
                        'pi-arrow-down': transaction.type === 'debit',
                        'pi-arrow-up': transaction.type === 'credit',
                      }"
                    ></i>
                  </div>
                  <div>
                    <h5 class="text-dark-text font-semibold">{{ transaction.company }}</h5>
                    <p class="text-xs text-gray-500">
                      {{ transaction.date }}, at {{ transaction.time }}
                    </p>
                  </div>
                </div>
                <div class="text-right">
                  @if (transaction.amount === 'Pending') {
                    <p-tag value="Pending" severity="warning" class="text-xs font-bold"></p-tag>
                  } @else {
                    <p
                      class="font-bold"
                      [ngClass]="{
                        'text-red-500': transaction.type === 'debit',
                        'text-green-500': transaction.type === 'credit',
                      }"
                    >
                      {{ transaction.type === 'debit' ? '-' : '+' }}${{
                        transaction.amount | number
                      }}
                    </p>
                  }
                </div>
              </div>
            }
          </div>
        }
      </div>
    </section>
  </div>
</div>
